---
layout: page
title: 关于
---

<div class="about-container">
    <div class="profile">
        <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" class="avatar">
        <h1>{{ site.author.name }}</h1>
        <p>{{ site.author.bio }}</p>
    </div>

    <div class="social-links">
        {% if site.social.github %}
            <a href="https://github.com/{{ site.social.github }}" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
        {% endif %}
        {% if site.social.twitter %}
            <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        {% endif %}
        {% if site.social.weibo %}
            <a href="https://weibo.com/{{ site.social.weibo }}" target="_blank">
                <i class="fab fa-weibo"></i> 微博
            </a>
        {% endif %}
    </div>

    <div class="content">
        <h2>个人简介</h2>
        <p>在这里添加你的个人简介...</p>

        <h2>技能与专长</h2>
        <ul>
            <li>技能1</li>
            <li>技能2</li>
            <li>技能3</li>
        </ul>

        <h2>联系方式</h2>
        <p>如果你需要联系我，请通过以下方式：</p>
        <ul>
            <li>邮箱: {{ site.author.email }}</li>
            <li>其他联系方式...</li>
        </ul>
    </div>
</div>
